.cardBody {
  width: 238px;

  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(36, 36, 36, 0.25);
  overflow: hidden;

  .cardImage {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1.15 / 1;
      border-radius: 15px;
    }
  }
  .context {
    padding: 17px 9px;
    display: flex;
    flex-direction: column;
    .info {
      flex: 1 1 auto;

      .row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 3px;
        h3 {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 58px;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -4%;
        }
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -4%;
        font-weight: 200;
        font-size: 12px;
        height: 77px;
      }
    }
    .prices {
      font-weight: 400;
      font-size: 12px;
    }
  }
}
