.choice_colomn {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.choice_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #C4BBB0;
    box-shadow: 0px 0px 4px 0px #00000026;
    margin-bottom: 3px;
    background: transparent;
    padding: 15px 0;
    img {
        height: 100%;
    }
}

@media (max-width: 360px) {
    .choice_btn {
    width: 125px;
    height: 125px;
    padding: 10px 0;
}
}