.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.15);
  position: relative;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  color: var(--color-text-primary);
  // letter-spacing: 1px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container > *:first-child {
  align-self: flex-end;
}

.cross {
  background-color: transparent;
  margin-right: -7px;
  margin-bottom: 25px;
}

.buttons_list {
  margin-top: 50px;
  border-bottom: 1px solid #6588E680;
  width: 100%;
}

.button {
  padding: 15px 25px;
  width: 100%;
  text-align: start;
  background-color: transparent;
  border-bottom: 1px solid #6588E680;
  font-size: 16px;
  font-weight: 400;
}

.user_btn {
  background-color: transparent;
}
