.button {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  width: 100%;
  text-align: start;
  background-color: transparent;
  border-top: 1px solid #6588E680;
  font-size: 16px;
  font-weight: 400;
}