.container {
    padding: 0 20px;
    margin-bottom: 60px;
}

.title_section {
    display: flex;
    gap: 18px;
}

.title {
    font-weight: 400;
    font-size: 14px;
}

.button {
    font-weight: 400;
    font-size: 14px;
    color: #6588E6;
    text-decoration: underline;
    background-color: transparent;
}

.link {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    text-decoration: underline;
    color: #666666;
}