.UserVisitedExcursions {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(to bottom, #FEF6ED 0%, #FFFFFF 17%, #FFFFFF 100%);
}

.excursion_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}