.input {
    width: 100%;
    padding: 9.5px 10px;
    border-radius: 5px;
    border: 1px solid #C4BBB0;
    box-shadow: 0px 0px 4px 0px #00000026;
    background: transparent;
    outline: none;
    color: #242424;
    margin-bottom: 15px;
    font-family: var(--font-family-main);
}

.input::placeholder {
    font-family: var(--font-family-main);
    font-weight: 300;
    font-size: 16px;
    color: #666666;
}

.input:focus {
    background-color: #FFFAF4;
    box-shadow: 0px 0px 8px 0px #00000033;
}

.input_error {
  border: 1px solid red;
  margin-bottom: 0;
}

.error_message {
  color: red;
  font-size: 12px;
}