.body {
  background-color: var(--background-color);
  box-shadow: 0 0 10px 0 rgba(36, 36, 36, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 16px;
}

.info {
  text-align: right;
  font-size: 10px;
  font-weight: 400;
}
