.container {
  padding: 0 20px;
}

.attr_img {
  width: 100%;
  height: 342px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #2424244d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img {
  width: 100%;
  height: 100%;
}

.attr_description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.attr_title_rating {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.attr_title {
  font-weight: 400;
  font-size: 20px;
}

.location {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px 0 18px 0;
}

.link {
  font-weight: 400;
  font-size: 14px;
  color: #6588e6;
}

.location .link {
  margin-left: 17px;
}

.title {
  font-weight: 700;
  font-size: 14px;
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.weekdays {
  margin-left: 4px;
}

@media (max-width: 370px) {
  .attr_img {
    height: 300px;
  }
}
