.registration_form {
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-bottom: 73px;
    /* opacity: 0;
    transition: opacity 1s ease 0.5s; */
}

.container_margin {
    margin-bottom: 0;
}

.checkbox_container {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    margin-top: 47px;
}

.checkbox {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.checkbox_lable {
    font-weight: 200;
    font-size: 12px;
    margin-left: 6px;
}